.bannerImg{
  width: 100%;
}

.aboutMain{

  .abouttext{
    div{
      margin-bottom: 50px;
    }
    p{
      font-family: "Comic Sans MS";
      margin-bottom: 0px!important;
      width: 100%;

    }
  }
  .title{
    font-family: "Comic Sans MS";
    margin-top: 50px;
    margin-bottom: 100px;
  }
}