
.principles{
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    color:white;
}

.principles img{
    width:30%;
}

.polaroid{
    background-color: #21f322;
    padding-top: 5%;
    padding-bottom: 5%;
    color:white;
}

.statements{
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    color:white;
}