<html xmlns:th = "http://www.thymeleaf.org">

<footer class="footer d-flex justify-content-center row" th:fragment="footerFragment" style=" background-color: #0b27f2; height: 250px; margin:0px; width:100%; padding-top:25px;" >
        <div class="socialIcons row w-25 col-sm-4">
            <div class="col-sm-6 d-flex justify-content-end">
                <a href="#">
                    <i class="fab fa-facebook" style="color:#ffffff; font-size:48px;"></i>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="#">
                    <i class="fab fa-instagram" style="color:#fffefe; font-size:48px;"></i>
                </a>
            </div>
        </div>

        <div class="d-flex justify-content-center col-sm-12">
            <a href="/kontakt" class="btn btn-light" style="height:40px;">Kontakt</a>
<!--            <button>Kontakt</button>-->

        </div>

        <div class="row w-75 col-sm-12" style="color: white" >
            <div class="col-sm" align="center" >
                <p>Tritræning.dk</p>
            </div>
            <div class="col-sm" align="center">
                <p>Fortly 2c Rødovre, 2610, Danmark</p>
            </div>
            <div class="col-sm" align="center">
                <p>tlf: +4528929598</p>
            </div>
            <div class="col-sm" align="center">
                <p>Email: Kim@tritræning.dk</p>
            </div>
            <div class="col-sm" align="center">
                <p>CVR: 40307354</p>
            </div>
        </div>
</footer>