<html xmlns:th = "http://www.thymeleaf.org">

<nav th:fragment="navigation" class="navbar navbar-transparent navbar-expand-md fixed-top sticky" style="background-color:#8196a142 ">
    <div class="d-flex w-50 order-0">
        <a class="navbar-brand mr-1" href="/"><img src="/images/logo.png" style="width:35%;"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse justify-content-center order-2 w-50" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item ml-5 mr-5">
                <a class="nav-link text-truncate text-white" href="/">Forside</a>
            </li>
            <!--            <li class="nav-item ml-4 ml-5 mr-5">-->
            <!--                <a class="nav-link text-truncate text-white" href="/#">Events</a>-->
            <!--            </li>-->
            <li class="nav-item ml-4 ml-5 mr-5">
                <a class="nav-link text-truncate text-white" href="/booking">Svøm</a>
            </li>
            <!--            <li class="nav-item ml-4 ml-5 mr-5">-->
            <!--                <a class="nav-link text-truncate text-white" href="/#">Shop</a>-->
            <!--            </li>-->
            <li class="nav-item ml-4 ml-5 mr-5">
                <a class="nav-link text-truncate text-white" href="/contact">Cykel</a>
            </li>
            <li class="nav-item ml-4 ml-5 mr-5">
                <a class="nav-link text-truncate text-white" href="/contact">Løb</a>
            </li>
            <li class="nav-item ml-4 ml-5 mr-5">
                <a class="nav-link text-truncate text-white" href="/contact">TRX</a>
            </li>
            <li class="nav-item ml-4 ml-5 mr-5">
                <a class="nav-link text-truncate text-white" href="/contact">Blog</a>
            </li>
            <li class="nav-item ml-4 ml-5 mr-5">
                <a class="nav-link text-truncate text-white" href="/contact">Om Mig</a>
            </li>
            <li class="nav-item ml-4 ml-5 mr-5">
                <a class="nav-link text-truncate text-white" href="/contact">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>