<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tritræning Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/user/blog.css" type="text/css" rel="stylesheet">
</head>
<body>
<div>
    <img class="center" src="/images/road.jpg">
</div>
<div>
    <h1 class="title" style="text-align: center">Triatlon blog</h1>
</div>

<div class="blogpost" align="center">
    <div class="row w-75">
        <!--            FIRST ROW -->
        <div class="col-sm-4">
            <img src="/images/saddle.jpg">
            <p>Overskrift til blog opslag</p>
        </div>
        <h1></h1>
        <div class="col-sm-4">
            <img src="/images/jogging.jpg">
            <p>Overskrift til blog opslag</p>
        </div>
        <h1></h1>
        <div class="col-sm-4">
            <img src="/images/water.jpg">
            <p>Overskrift til blog opslag</p>
        </div>
    </div>
    <div class="row w-75">
        <!--            FIRST ROW -->
        <div class="col-sm-4">
            <img src="/images/saddle.jpg">
            <p>Overskrift til blog opslag</p>
        </div>
        <h1></h1>
        <div class="col-sm-4">
            <img src="/images/jogging.jpg">
            <p>Overskrift til blog opslag</p>
        </div>
        <h1></h1>
        <div class="col-sm-4">
            <img src="/images/water.jpg">
            <p>Overskrift til blog opslag</p>
        </div>
    </div>
</div>
</body>
</html>