<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tritræning Forside</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/user/index.css" type="text/css" rel="stylesheet">
</head>
<body>
<header>
    <!--=================== NAVIGATION ============================ -->
    <div th:replace="fragments/navigation :: navigation">

    </div>
</header>
<main>


    <!--=================== TOP IMG ============================ -->
    <div class="topImg" align="center">
        <div class="row w-100">
            <div class="img-fill" align="center">
                <img src="/images/kimbanner.png">
            </div>

        </div>
    </div>
<!--    <div class="topImg">-->
<!--    <img src="/images/road.jpg" style="">-->
<!--    </div>-->

    <!--=================== QUOTES ============================ -->

    <div class="frontPage" align="center" style="">
        <h1 style="margin-bottom: 5%">Træning med nærvær</h1>
        <div class="row w-75 frontPage">
            <h4> "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat."</h4>
            <!--            FIRST ROW -->

        </div>
    </div>
    <!--=================== PRINCIPLE LIST ============================ -->

    <!--            FIRST ROW -->
    <div class="principles" align="center">
        <div class="row w-50">

            <div class="col-sm">
                <img src="/images/logos/time.png">
                <p>Certificeret Coach</p>
            </div>
            <h1></h1>
            <div class="col-sm">
                <img src="/images/logos/checkmark.png">
                <p>Styrker dig i svømning, cykling, løb, skiftezone og styrke træning</p>
            </div>
            <h1></h1>
            <div class="col-sm">
                <img src="/images/logos/Graduationcap.webp">
                <p>Få en tilpasset træningsplan til din hverdag/job/fritid m.m, så du får en optimal og fokuseret træning</p>
            </div>
            <h1></h1>
            <div class="col-sm">
                <img src="/images/logos/Graduationcap.webp">
                <p>Om du er ny i sporten eller øvet, kan jeg hjælpe dig til næste niveau</p>
            </div>
        </div>
    </div>

    <!--            SECOND ROW -->

    <div class="polaroid" align="center">
        <div class="row w-50">

            <div class="col-sm">
                <img src="/images/logos/time.png">
                <p>Polaroids</p>
            </div>
            <h1></h1>

        </div>
    </div>

    <!--            THIRD ROW -->

    <div class="statements" align="center">
        <div class="row w-50">

            <div class="col-sm">
                <img src="/images/ulla.png">
                <p>Ulla Engell</p>
                <p>"Kim har en stor ære i, at jeg nu synes, at svømning er sjovt  Med sine store pædagogiske evner, har Kim tålmodigt lært mig at svømme hurtigere. Jeg vil fortsætte med bede Kim om hjælp til forbedre min svømning  Jeg kan absolut anbefale Kim, hvis du har brug for en træner - ikke kun til svømning men til triatlon generelt."</p>
            </div>


            <h1></h1>
            <div class="col-sm">
                <img src="/images/logos/checkmark.png">
                <p>Casper</p>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <h1></h1>
            <div class="col-sm">
                <img src="/images/logos/Graduationcap.webp">
                <p>Simon</p>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <h1></h1>
        </div>
    </div>

</main>


</body>
</html>